In [1]:
import pandas as pd

constroctursResult = pd.read_csv("f1db_csv/constructor_results.csv", na_filter=True)
constrocturs = pd.read_csv("f1db_csv/constructors.csv", na_filter=True)

constroctursResult

       constructorResultsId  raceId  constructorId  points status
0                         1      18              1    14.0     \N
1                         2      18              2     8.0     \N
2                         3      18              3     9.0     \N
3                         4      18              4     5.0     \N
4                         5      18              5     2.0     \N
...                     ...     ...            ...     ...    ...
12315                 16815    1113            213     2.0     \N
12316                 16816    1113            210     1.0     \N
12317                 16817    1113              3     0.0     \N
12318                 16818    1113             51     0.0     \N
12319                 16819    1113            117     0.0     \N

[12320 rows x 5 columns]