In [9]:
import pandas as pd

constructorsResult = pd.read_csv("f1db_csv/constructor_results.csv", na_filter=True)

constructorsResult.describe()

       constructorResultsId        raceId  constructorId        points
count          12320.000000  12320.000000   12320.000000  12320.000000
mean            8211.981656    513.224432      44.785471      3.875325
std             5570.812834    303.753340      57.998097      7.576766
min                1.000000      1.000000       1.000000      0.000000
25%             3080.750000    281.000000       6.000000      0.000000
50%             6160.500000    478.000000      22.000000      0.000000
75%            13721.250000    724.000000      53.000000      4.000000
max            16819.000000   1113.000000     214.000000     66.000000

In [8]:
constructors = pd.read_csv("f1db_csv/constructors.csv", na_filter=True)

constructors

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team